

.offer-map-card-section{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.offer-map-card-section p {
    text-align: left;
    margin-bottom: 6px;
    margin-left: 15px;
}

.offer-map-card-numbers {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.offer-map-card-title {
    color: #333333;
    font-size: 30px;
    line-height: 40px;
    font-weight: 500;
}

.offer-map-card-link {
    color: #333333;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.offer-map-card-search-inputs{
    width: 100%;
    margin: 25px 0px;
    display: flex;
}

.offer-map-card-search-inputs .input-group{
    margin: 0 15px!important;
    padding: 0;
}

@media only screen and (max-width: 1024px) {
    .offer-map-card-section{
        max-width: 320px;
        flex-direction: column;
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 768px) {
    .offer-map-card-section{
        max-width: 500px;
    }
}

@media only screen and (max-width: 580px) {
    .offer-map-card-section{
        padding: 20px 10px;
    }
}