


.pharmacy-map-section{
    width: 100%;
    height: auto;
    min-height: calc(100vh - 160px);
    display: flex;
}

.pharmacy-map-info-section{
    width: 500px;
    height: 100%;
    background: red;
}

.pharmacy-map-location-section{
    flex: 1;
    background: black;
}