

.category-card{
    width: 100%;
    max-width: 200px;
    height: 224px;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.category-card-img{
    width: 144px;
    height: 144px;
    border-radius: 50%;
    transition: 0.4s all ease;
}

.category-card-img:hover{
    box-shadow: 0 0 12px rgba(0,0,0, 0.4);
}

.category-card h6{
    text-align: center;
    margin: 12px 0;
    letter-spacing: 1px;
}

@media only screen and (max-width: 1240px) {
    .category-card{
        max-width: 160px;
        height: 190px;
    }
    .category-card-img{
        width: 122px;
        height: 122px;
    }
}

@media only screen and (max-width: 1024px) {
    .category-card{
        max-width: 120px;
        height: 150px;
    }
    .category-card-img{
        width: 100px;
        height: 100px;
    }
    .category-card h6{
        font-size: 14px;
    }
}

@media only screen and (max-width: 768px) {
    .category-card{
        max-width: 180px;
        height: 220px;
        margin: 5px 0;
    }
    .category-card-img{
        width: 144px;
        height: 144px;
    }
    .category-card h6{
        font-size: 16px;
    }
}

@media only screen and (max-width: 580px) {
    .category-card{
        max-width: 50%;
        height: 200px;
        margin: 5px 0;
    }
    .category-card-img{
        width: 144px;
        height: 144px;
    }
    .category-card h6{
        font-size: 16px;
    }
}
