


.see-pharmacy-button{
    border: none;
    background: white;
    width: 250px;
    height: 50px;
    color: #02374B;
    border: 2px solid #02374B;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 20px;
    transition: 0.55s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.see-pharmacy-button:hover{
    background: #02374B;
    color: white;
    border: none;
}
