
.map-page-card-section{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.map-page-card{
    width: 100%;
    max-width: 500px;
    padding: 30px;
    transition: 0.4s all ease;
}

.map-page-card-img{
    width: 500px;
    height: 300px;
}

.map-page-card-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 0px;
}

.map-page-card-title{
    font-size: 23px;
    line-height: 24px;
    font-weight: 500;
    color: #333333;
    margin-bottom: 16px;
    text-align: left;
    color: #333333;
}

.map-page-card-text,
.map-page-card-current,
.map-page-card-status{
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px;
    color: #333333;
}

.map-page-card-times{
    display: flex;
    position: relative;
}

.map-page-card-times .fa{
    cursor: pointer;
    margin-top: 2px;
}

.map-page-card-clocks{
    position: absolute;
    top: 10px;
    left: 0px;
    width: 250px;
    transition: 0.3s height ease;
    margin-top: 20px;
    padding: 10px 15px;
    background: white;
    box-shadow: 0 0 2px 3px rgba(0,0,0, 0.1);
    z-index: 10;
    border-radius: 6px;
    visibility: hidden;
}

.show-banner-clocks{
    visibility: visible;
}

.map-page-card-clock-title{
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-weight: bold;
    text-align: left;
}

.map-page-card-clock-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.map-page-card-clock-day,
.map-page-card-clock-time{
    font-size: 15px;
    color: #5C5C5C;
}

.map-page-card-current{
    color: #008A2A;
    font-weight: bold;
    margin-right: 10px;
}

.map-page-card-status{
    margin-right: 10px;
}

.map-page-card-buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
}

.map-page-card-button{
    border: none;
    background: #02374B;
    width: 285px;
    height: 50px;
    color: white;
    border-radius: 4px;
    font-weight: 500;
    font-size: 15px;
    margin-top: 30px;
    transition: 0.5s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.map-page-card-button:hover{
    background: white;
    color: #02374B;
    border: 2px solid #02374B;
}

.map-page-card-links{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.map-page-card-link{
    border: none;
    height: 40px;
    color: #02374B;
    border-radius: 18px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 15px;
    transition: 0.4s all ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.map-page-card-link:hover{
    background: rgba(2, 55, 75, 0.09);
}

.map-page-card-link .fa,
.map-page-card-link-icon{
    margin: 0 3px;
}

.map-page-card-link-text{
    margin: 0px 3px;
}

.map-page-card-view-other{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.map-page-card-view-other-text{
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    margin-left: 15px;
    margin-bottom: 0px;
    cursor: pointer;
}

.map-page-card-view-other-text:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 1024px) {
    .map-page-card-section{
        width: 100%;
        max-width: 320px;
    }
    .map-page-card-img{
        height: 200px;
    }
    .map-page-card{
        width: 100%;
        max-width: 320px;
        padding: 30px;
    }
    .map-page-card-buttons{
        align-items: flex-start;
    }
    .map-page-card-button{
        width: 245px;
        height: 45px;
    }
    .map-page-card-links{
        justify-content: flex-start;
    }
    .map-page-card-link{
        padding: 0 15px;
        transition: 0.4s all ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .map-page-card-section{
        max-width: 100%;
    }
    .map-page-card-img{
        margin-top: 30px;
        margin-left: 30px;
        max-width: 400px;
        height: 200px;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 580px) {
    .map-page-card-section{
        padding-right: 30px;
    }
    .map-page-card-img{
        max-width: 90%;
        height: 180px;
    }
}
