

.searchbar-section{
    width: 100%;
    background: #F5F5F5;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}

.input-group{
    margin: 0 15px !important;
}

.form-control:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}

.form-control{
    border-right: none !important;
}

.btn{
    background: white !important;
    border: 1px solid #ced4da !important;
    border-left: none !important;
}

.btn:focus{
    box-shadow: none !important;
    border-color: #ced4da !important;
}


@media only screen and (max-width: 1240px) {
    .searchbar-container{
        max-width: 960px;
    }
}

@media only screen and (max-width: 1024px) {
    .searchbar-container{
        max-width: 720px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 15px 0;
        padding-top: 10px;
    }
    .input-group{
        width: 330px !important;
        margin-bottom: 10px !important;
    }
}

@media only screen and (max-width: 768px) {
    .searchbar-container{
        max-width: 540px;
    }
    .input-group{
        width: 240px !important;
    }
}

@media only screen and (max-width: 580px) {
    .searchbar-container{
        max-width: 100%;
        grid-template-columns: 1fr;
    }
    .input-group{
        width: calc(100vw - 45px) !important;
    }
}

