

.searchbar-section{
    width: 100%;
    background: #F5F5F5;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.searchbar-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
}
