
.navbar-section{
    position: sticky;
    top: 0;
    width: 100%;
    height: 80px;
    background: white;
    z-index: 150;
    border-bottom: 1px solid #DDDCDA;
    transition: 0.4s all ease;
}

.navbar-section p {
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 0;
    cursor: pointer;
    text-align: left;
}

.navbar-container{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}


.navbar img{
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.nav-links{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-nav{
    display: flex;
    align-items: center;
    margin-left: 45px;
}

.nav-link{
    color: black;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
}

.right-nav{
    display: flex;
    align-items: center;
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.navbar-section .toggler {
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    outline: none;
    display: none;
    position: fixed;
    top: 40px;
    transform: translateY(-50%);
    right: 30px;
}

.toggler .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #222;
    margin-bottom: 0.4rem;
    transition: 0.4s;
}

/*close icon*/
.cross .line:nth-child(1) {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.cross .line:nth-child(2) {
    opacity: 0;
}

.cross .line:nth-child(3) {
    transform: rotate(45deg) translate(-7px, -5px);
}

@media only screen and (max-width: 900px) {
    .nav-links{
        width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        right: -320px;
        background: #FFCC00;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transition: 0.3s all ease;
    }
    .nav-active{
        right: 0;
    }
    .left-nav{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0px;
        margin-top: 100px;
    }
    .right-nav{
        flex: 1;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
    }
    .navbar-section .toggler{
        display: block;
    }
    .nav-link{
        width: 100%;
        margin: 5px 0;
        transition: 0.4s all ease-in-out;
    }
    .nav-link:hover{
        background: rgba(255,255,255, 0.3);
    }
}


@media only screen and (max-width: 580px) {
    .navbar-container{
        padding: 0 15px;
    }
    .navbar-section .toggler {
        right: 15px;
    }
}
