

.trend-product-card{
    width: 100%;
    height: 388px;
    max-width: 276px;
    border-radius: 4px;
    background: rgba(197,98,129,0.4);
    overflow: hidden;
    margin: 15px;
}


.trend-product-img{
    width: 100%;
    height: 276px;
}

.trend-product-card h5, p{
    margin: 12px 0;
}

.trend-product-card h5{
    text-align: center;
    margin: 8px 0;
    color: #02374B;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
}

.trend-add-to-card-button{
    color: #02374B;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}


@media only screen and (max-width: 1350px) {
    .trend-product-card{
        max-width: 28%;
        height: 348px;
        margin: 15px 0;
    }
    .trend-product-img{
        height: 246px;
    }

    .trend-product-card:nth-child(odd),
    .trend-product-card:nth-child(even){
        margin: 15px;
    }
}

@media only screen and (max-width: 900px) {
    .trend-product-card{
        max-width: 180px;
        height: 280px;
    }
    .trend-product-img{
        height: 170px;
    }
    trend-product-card:nth-child(odd),
    .trend-product-card:nth-child(even){
        margin: 15px 0;
    }
}

@media only screen and (max-width: 470px) {
    .trend-product-card{
        max-width: 48%;
        height: 250px;
        margin: 15px 0;
    }
    .trend-product-img{
        height: 130px;
    }
    .trend-product-card:nth-child(odd),
    .trend-product-card:nth-child(even){
        margin: 15px 0;
    }
}


