


.breadcrumb-section{
    width: 100%;
    height: 64px;
    padding: .5rem 0;
}

.breadcrumb-container{
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

.breadcrumb-item{
    color: #5C5C5C;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.3s all ease;
}

.breadcrumb-item:hover{
    color: black;
}

.breadcrumb-item-active{
    cursor: pointer;
}

@media only screen and (max-width: 580px) {
    .breadcrumb-container{
        padding: 0 15px;
    }
}
