
*{
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body{
  line-height: 24px;
  font-family: 'Quicksand', sans-serif;
  scroll-behavior: smooth;
}

p{
  font-family: 'Quicksand', sans-serif;
}


.App {
  width: 100%;
  height: 100%;
  background: white;
}

.app-container{
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.cookie{
  width: 100%;
  min-height: 60px;
  position: fixed;
  bottom: -150px;
  left: 0;
  background: #EBEBEB;
  transition: 1s all ease-in;
  opacity: 0;
  z-index: 1000;
}

.cookie-container{
  min-height: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cookie-container p {
  color: #333333;
  font-size: 16px;
  line-height: 24px;
  padding: 0 20px;
  text-align: left;
}

.cookie-container button{
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background: #02374B;
  color: white;
}

.open-cookie {
  bottom: 0;
  opacity: 1;
}

.scroll-container{
  width: 100%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 40px;
}

.scroll-to-top{
  width: 75px;
  height: 75px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #979797;
  cursor: pointer;
}

.scroll-to-top i {
  color: white;
  margin-right: 0px;
}

.center-content{
  width: 100%;
  display: flex;
  justify-content: center;
}


/*Anasayfa ve maindeki ortak csssler*/
.top-page-title{
  padding: 35px 15px 0px;
  margin-bottom: -15px;
}

.top-page-title-text{
  color: #333333;
  font-size: 36px;
  line-height: 44px;
  font-weight: 500;
  font-family: 'Quicksand', sans-serif;
}


.homepage{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sub-title{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.sub-title-text{
  max-width: 375px;
  text-align: center;
  font-size: 36px;
  line-height: 44px;
  font-weight: 400;
  color: #333333;
}

.trend-product-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: 0.3s all ease;
}

@media only screen and (max-width: 470px) {
  .trend-product-container{
    justify-content: space-between;
  }
}

/*Anasayfa ve maindeki ortak csssler*/



@media only screen and (max-width: 1240px) {
  .app-container{
    max-width: 960px;
  }
}

@media only screen and (max-width: 1024px) {
  .app-container{
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {
  .app-container{
    max-width: 540px;
  }
}


